Repository Armor-test/cache-frontend-763, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/grp-ui, @Armor-test/squad-reporting, @Armor-test/squad-cache, @Armor-test/team-notifications, @Armor-test/grp-reporting, @Armor-test/squad-database, @Armor-test/grp-payments, @Armor-test/squad-apps, @Armor-test/squad-cloud, @Armor-test/team-core, @Armor-test/dept-data, @Armor-test/dept-automation, @Armor-test/dept-test, @Armor-test/squad-frontend, @Armor-test/squad-search, @Armor-test/dept-notifications, @Armor-test/unit-design, @Armor-test/squad-api, @Armor-test/grp-storage, @Armor-test/squad-product, @Armor-test/dept-security, @Armor-test/unit-devops, @Armor-test/dept-release, @Armor-test/team-frontend, @Armor-test/team-logging, @Armor-test/squad-research, @Armor-test/team-reporting, @Armor-test/unit-cloud, @Armor-test/grp-integration, @Armor-test/squad-ux, @Armor-test/team-research, @Armor-test/unit-governance, @Armor-test/squad-tooling, @Armor-test/squad-ml, @Armor-test/squad-payments, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/compliance

.github/CODEOWNERS:

# CODEOWNERS file for cache-frontend-763
# Global owners - will be requested for all PRs
* @Armor-test/grp-ui @Armor-test/squad-reporting @Armor-test/squad-cache

# Directory ownership
/services/ @Armor-test/team-notifications @Armor-test/grp-reporting
/deploy/ @Armor-test/squad-database @Armor-test/grp-payments @Armor-test/squad-apps
/data/ @Armor-test/squad-cloud @Armor-test/team-core
/api/ @Armor-test/dept-data @Armor-test/dept-automation
/tests/ @Armor-test/grp-reporting @Armor-test/dept-test
/tools/ @Armor-test/squad-frontend @Armor-test/squad-search
/docs/ @Armor-test/dept-automation @Armor-test/dept-notifications @Armor-test/unit-design
/utils/ @Armor-test/squad-api @Armor-test/grp-reporting @Armor-test/grp-storage
/third_party/ @Armor-test/squad-product @Armor-test/dept-security
/app/ @Armor-test/team-notifications @Armor-test/unit-devops @Armor-test/dept-release
/dist/ @Armor-test/team-frontend @Armor-test/squad-frontend @Armor-test/team-logging

# File type ownership
*.toml @Armor-test/dept-release @Armor-test/squad-research
*.ts @Armor-test/grp-reporting @Armor-test/team-reporting @Armor-test/unit-design
*.swift @Armor-test/unit-cloud @Armor-test/grp-integration @Armor-test/team-core
*.tsx @Armor-test/squad-frontend @Armor-test/squad-ux
*.yml @Armor-test/unit-cloud @Armor-test/team-research
*.cpp @Armor-test/unit-design @Armor-test/dept-security
*.c @Armor-test/unit-devops @Armor-test/squad-product @Armor-test/unit-governance
*.go @Armor-test/grp-storage @Armor-test/team-research @Armor-test/squad-tooling
*.py @Armor-test/squad-ml @Armor-test/squad-payments
*.jsx @Armor-test/team-frontend @Armor-test/dept-data @Armor-test/squad-api

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/grp-ui, @Armor-test/squad-reporting, @Armor-test/squad-cache

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-automation, @Armor-test/dept-notifications, @Armor-test/unit-design

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/grp-ui, @Armor-test/squad-reporting, @Armor-test/squad-cache

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-ml, @Armor-test/squad-payments

Add src/index.js
  src/index.js
Owners: @Armor-test/grp-ui, @Armor-test/squad-reporting, @Armor-test/squad-cache
